<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>로그인</title>
</head>
<body>
<form th:action="@{/form/users/login}" method="post">
	<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh">
		<input type="text" name="username" placeholder="ID" required
					 style="padding: 15px; margin-bottom: 15px" />
		<input type="password" name="password" placeholder="Password" required
					 style="padding: 15px; margin-bottom: 20px" />
		<button type="submit"
						style="padding: 12px 84px; background-color: #309fff; border: none; border-radius: 14px; color: #ffffff; font-size: 19px; cursor: pointer; font-weight: 600;">
			Login
		</button>
		<div th:if="${param.error}" style="color:red; margin-top: 10px;">로그인 실패. 아이디나 비밀번호를 확인하세요.</div>
		<div th:if="${param.logout}" style="color:green; margin-top: 10px;">로그아웃 되었습니다.</div>
	</div>
</form>
</body>
</html>