<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
	<title>회원가입</title>
</head>
<body>
<h2>회원가입</h2>
<form th:action="@{/form/users/signup}" th:object="${signupRequest}" method="post">
	<div>
		<label for="username">아이디:</label>
		<input id="username" type="text" th:field="*{username}" required />
	</div>
	<div>
		<label for="password">비밀번호:</label>
		<input id="password" type="password" th:field="*{password}" required />
	</div>
	<div>
		<label for="email">이메일:</label>
		<input id="email" type="email" th:field="*{email}" required />
	</div>
	<div>
		<label for="name">이름:</label>
		<input id="name" type="text" th:field="*{name}" required />
	</div>
	<div th:if="${error}" style="color:red;">
		[[${error}]]
	</div>
	<button type="submit">가입</button>
</form>
</body>
</html>